body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #404040;
  padding: 0 10px;
  text-align: center;
}

ul {
  width: 300px;
  margin: 0 auto;
  text-align: left;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
