---
layout: layouts/base.njk
title: Joe Hart's Homepage
templateClass: homepage
---
<h1>
   👋 I'm Joe, and this is my homepage.
</h1>
<h2>This is a <em>work in progress</em> that I intend to <em>never finish</em></h2>

<h3>Recent Posts</h3>
<p>Coming soon...</p>
  {# {% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %} #}

<p>I do a few things:</p> 
<ul>
  <li>
    <a href="https://www.joehartcomedian.com" target="__blank"
      >I say/do/make funny things</a
    >
  </li>
  <li>
    <a href="https://github.com/JoeHart" target="__blank">I write code</a>
  </li>
  <li><a href="http://joehart.fun" target="__blank">I make games</a></li>
</ul>
<p>
  For now find me on
  <a href="https://social.lol/@joehart" rel="me" target="__blank">Mastodon</a>,
  <a href="http://twitter.com/joehart" target="__blank">Twitter</a>,
  <a href="https://www.instagram.com/joehart42/" target="__blank">Instagram</a>,
  <a href="https://github.com/JoeHart" target="__blank">GitHub</a>
  <a
    href="https://www.youtube.com/channel/UC7Q5oFp0U3eWWXMq7x1iAEQ"
    target="__blank"
    >YouTube</a
  >
</p>
<p>
  If you'd like to work together, build something or just hang out say hi on Mastodon!
</p>
<p>Thanks for reading!</p>
<p>Joe<br />x</p>

<marquee>Cool Right?</marquee>
