<ol
  reversed
  class="postlist"
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
>
  {% for post in postslist | reverse %}
  <li
    class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"
  >
    <a href="{{ post.url | url }}" class="postlist-link">
      <span class="postlist-emoji">{{post.data.emoji}}</span>
      {% if post.data.title %}{{ post.data.title }} {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
    </a>
    <time
      class="postlist-date no-wrap"
      datetime="{{ post.date | htmlDateString }}"
      >{{ post.date | readableDate }}</time
    >
  </li>
  {% endfor %}
</ol>
