<ol
  reversed
  class="postlist"
  style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}"
>
  {% for post in postslist | reverse %}
  <li
    class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"
  >
    <span
      style="view-transition-name: post-{{ post.fileSlug }}-emoji"
      class="postlist-emoji"
      >{{post.data.emoji}}</span
    >
    <a
      style="view-transition-name: post-{{ post.fileSlug }}-title"
      href="{{ post.url | url }}"
      class="postlist-link"
    >
      {% if post.data.title %}{{ post.data.title }} {% else %}
      <code>{{ post.url }}</code>
      {% endif %}
    </a>
    <time
      class="postlist-date no-wrap"
      style="view-transition-name: post-{{ post.fileSlug }}-date"
      datetime="{{ post.date | htmlDateString }}"
      >{{ post.date | readableDate }}</time
    >
  </li>
  {% endfor %}
</ol>
