<div class="post-grid">
  {% for post in postslist | reverse %}
  <article class="post-card flow">
    {% if post.data.remoteURL %} {% set link = post.data.remoteURL %} {% else %} {% set link = post.url %} {% endif %}
    {% if post.data.hero or post.data.socialImage %}
    <a href="{{ link | url }}" class="post-card-image">
      <img
        src="{{ (post.data.hero or post.data.socialImage) | url }}"
        alt="{{ post.data.title }}"
        width="1600"
        height="900"
      />
    </a>
    {% endif %}

    <h2 class="post-card-title">
      <span class="post-card-emoji"> {{ post.data.emoji }} </span>

      <a href="{{ link | url }}">
        {% if post.data.title %}{{ post.data.title }}{% else %}
        <code>{{ post.url }}</code>
        {% endif %}
      </a>
    </h2>
    <div class="post-card-metadata">
      {% if post.data.tags %}
      <ul class="tags-list">
        {% for tag in post.data.tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
          <a href="{{ tagUrl }}" class="tags-list-item">{{ tag }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
      <time class="post-card-date" datetime="{{ post.date | htmlDateString }}"> {{ post.date | readableDate }} </time>
    </div>

    <p class="post-card-excerpt">
      {{ post.templateContent | striptags | truncate(280) }}
      <a href="{{ post.url | url }}" class="post-card-readmore emphasis">Read more</a>
    </p>
  </article>
  {% endfor %}
</div>
