---json
{
  "permalink": ".well-known/webfinger",
  "eleventyExcludeFromCollections": true
}
---

{ "subject": "acct:joe@www.joehart.co.uk", "aliases": [ "https://www.joehart.co.uk/" ], "links": [ { "rel":
"http://webfinger.net/rel/profile-page", "type": "text/html", "href": "https://www.joehart.co.uk/" }, { "rel": "self",
"type": "application/activity+json", "href": "https://www.joehart.co.uk/" }, { "rel":
"http://ostatus.org/schema/1.0/subscribe", "template":
"https://fed.brid.gy/remote-follow?uri={uri}&domain=www.joehart.co.uk" } ] }
