<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title or metadata.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{ description or metadata.description }}">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="author" content="Joe Hart"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@joehart"/>
    <meta name="twitter:creator" content="@joehart"/>

    <link rel="webmention" href="https://webmention.io/www.joehart.co.uk/webmention"/>
    <link rel="pingback" href="https://webmention.io/www.joehart.co.uk/xmlrpc"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <meta property="og:url" content="https://joehart.co.uk"/>
    <meta property="og:title" content="Joe Hart's Homepage"/>
    <meta
      property="og:description"
      content="Joe Hart's pioneering personal website."
/>
    <meta property="og:image" content="https://joehart.co.uk/me.gif"/>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Person",
        "name": "Joe Hart",
        "disambiguatingDescription": "Comedian & Coder"
      }
    </script>
  </head>
  <body>
    <header>
      <h1 class="home">
        <a href="{{ '/' | url }}">{{ metadata.title }}</a>
      </h1>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
  </body>
</html>