---
layout: layouts/base.njk
templateClass: note
---

<article class="h-entry">
  <div class="note-metadata">
    <time class="dt-published" datetime="{{ page.date | htmlDateString }}"> {{ page.date | readableDate }} </time>
    {% if tags | filterTagList | length %}
    <ul class="tags-list">
      {%- for tag in tags | filterTagList %} {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
      <li>
        <a href="{{ tagUrl }}" class="tags-list-item p-category">{{ tag }}</a>
      </li>
      {%- endfor %}
    </ul>
    {% endif %}
  </div>

  <div class="e-content flow">{{ content | safe }}</div>

  <div class="note-syndication">
    {% if mastodon_url %}
    <a href="{{ mastodon_url }}" rel="syndication" class="u-syndication">View on Mastodon</a>
    {% endif %} {% if bluesky_url %}
    <a href="{{ bluesky_url }}" rel="syndication" class="u-syndication">View on Bluesky</a>
    {% endif %}
  </div>
</article>
